@font-face {
  font-family: Poppins;
  src: url(./../font/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(./../font/Poppins-Bold.ttf);
}

:root {
  --primary-color: #049a5b;
  --secondary-color: #fc9c2c;
  --paragraph: #4b4f51;
  --btn-color: #f44a45;
  --chart-p-font-size: 0.7vw;
}
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  background-color: rgba(10, 83, 8, 0.04);
}

.alert {
  display: none;
  position: fixed; /* Set the navbar to fixed position */
  top: 100px; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding: 20px;
  background-color: #4caf50;
  color: white;
  z-index: 1000;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.data-info {
  margin-left: 16%;
  color: var(--primary-color);
  border-left: var(--primary-color) 3px solid;
  height: 17vw;
}

.data-info ::marker {
  color: var(--primary-color);
  font-size: var(--chart-p-font-size);
}

.data-info span {
  vertical-align: bottom;
}

.data-info ul {
  display: block;
  font-weight: 600;
  margin: 0;
  padding: 0 0 0 4.5vw;
  list-style-type: "------------";
  text-align: left;
  line-height: 6vw;
}

.data-info li {
  color: var(--secondary-color);
  font-weight: 600;
}

.number-stat {
  display: inline;
}

.number-stat span {
  font-weight: 900;
  padding-left: 8px;
  color: black;
}

.number-stat p {
  display: inline;
  margin: 0;
  color: var(--primary-color);
}

.total-cases {
  padding: 8px 16px;
  background-color: var(--primary-color);
  border-radius: 15px;
  max-width: 300px;
  color: white;
  margin-left: 14%;
}

.total-cases span {
  font-weight: 900;
  font-size: 36px;
}

.total-cases p {
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}

.statics {
  text-align: center;
  vertical-align: middle;
  margin-top: 8%;
}

input[type="checkbox"] {
  display: none;
  opacity: 0;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.nav-item {
  font-size: 14px;
}

ul {
  list-style: none;
}

h3,
h2,
p {
  margin-bottom: 10px;
}

h3 {
  color: var(--secondary-color);
  font-size: 22px;
}

.text-green {
  color: var(--primary-color);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.text-yellow {
  color: var(--secondary-color);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

h2 {
  color: var(--primary-color);
  font-size: 32px;
}

p {
  color: var(--paragraph);
  font-size: 14px;
  line-height: 1.8;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

i {
  cursor: pointer;
}

.showcase-wrapper,
.learn-more-wrapper,
.contagion-wrapper,
.symptoms-wrapper,
.todo-wrapper,
.questions-wrapper,
.contact-wrapper {
  padding: 100px 0;
}

/* Nav */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  width: 100%;
  padding: 1rem !important;
}

.container-nav {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.animate-top {
  position: relative;
  animation: animatetop 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  z-index: 999;
  animation: animatetop 0.4s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.04) !important;
}

.logo {
  width: 150px;
}

ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 15px;
}

ul li a:hover {
  color: var(--primary-color);
}

.main-nav .burger {
  display: none;
}

/* Showcase */

.showcase {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  align-items: center;
}

.showcase img {
  width: 100%;
}

.showcase-left {
  width: 95%;
}

.btn {
  cursor: pointer;
  display: inline-block;
  color: #fff;
  border: none;
  font-weight: 550;
  padding: 12px 30px;
  background-color: var(--primary-color);
  border-radius: 15px;
  margin-top: 10px;
}

.btn:hover {
  opacity: 0.9;
}

/* Learn More */

.learn-more {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-column-gap: 15px;
  width: 100%;
  height: 100%;
}

.learn-more img {
  width: 80%;
  margin: 0 auto;
}

.learn-more .text {
  padding-left: 30px;
}

/* Contagion */

.contagion {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 20% 70%;
  align-items: center;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 27px;
}

.top {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: 50px auto;
}

.contagion .bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  text-align: center;
  grid-column-gap: 20px;
}

.bottom .card {
  display: grid;
  grid-template-rows: 60% 40%;
  background: #ffffff;
  box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  align-items: center;
  /* padding: 10px 0 20px 0; */
}

.card .text {
  padding: 0 30px;
}

.card .bottom .img-container {
  margin-bottom: 50px;
}

.card img {
  padding: 50px;
  height: 300px;
  width: 290px;
  margin: auto;
  text-align: center;
}

.card:hover {
  border-bottom: 3px solid var(--primary-color);
}

/* Symptoms */

.symptoms {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 20% 80%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.symptoms .top {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.symptoms .img-container {
  margin-top: 30px;
  text-align: center;
}

.symptoms img {
  width: 70%;
}

/* Todo */
.todo {
  width: 100%;
  display: grid;
  grid-template-rows: 15% 80%;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.todo .top {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.todo .bottom {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.todo .bottom .sym-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.todo .bottom .text {
  padding: 50px;
}

.todo .bottom .two {
  direction: rtl;
  text-align: left;
}

.todo img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

/*Section - Questions Form and Footer */
.questions-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-column-gap: 15px;
  width: 100%;
  height: 100%;
}

.questions .top {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

/* .questions form {
  margin: 0 auto;
  margin-top: 30px;
} */

.questions h2 {
  text-align: center;
}

/* Contact */
.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-column-gap: 15px;
  width: 100%;
  height: 100%;
}

.contact .top {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact .pic-contact {
  display: block;
  margin: 0 auto;
  width: 50%;
}

/* .questions form {
  margin: 0 auto;
  margin-top: 30px;
} */

.contact .web {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact .mobile {
  display: none;
}

.contact .mobile-contact {
  display: none;
}

.contact input {
  width: 350px;
  padding: 15px 30px;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.09);
  margin-right: 10px;
  margin-bottom: 10px;
}

.contact .input {
  background-color: #3cbc8d;
  color: black;
}

.contact .btn-contact {
  text-align: center;
  width: 100px;
}

.btn-contact {
  cursor: pointer;
  display: table-caption;
  color: #fff;
  border: none;
  font-weight: 550;
  background-color: var(--primary-color);
  border-radius: 15px;
  margin-right: 5px;
}

.contact img {
  width: 45px;
  display: inline;
}

.contact a {
  padding: 12px 5px;
}

.img-contact {
  display: -webkit-inline-box;
  justify-content: center;
}
/* Footer */
footer {
  width: 100%;
}

footer .top-footer {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .top-footer .social img {
  padding: 0 5px;
  color: var(--secondary-color);
}

footer .top-footer .social i:nth-child(3) {
  color: var(--primary-color);
}

footer .buttom-footer {
  text-align: center;
}

footer .buttom-footer-mobile {
  display: none;
}

footer .top-footer-mobile {
  display: none;
}

/* Media Queery - Responsive */
@media only screen and (max-width: 1920px) {
  .container {
    max-width: 1600px;
  }

  .container-nav {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .showcase-wrapper,
  .learn-more-wrapper,
  .contagion-wrapper,
  .symptoms-wrapper,
  .todo-wrapper,
  .questions-wrapper,
  .contact-wrapper {
    padding: 100px 0;
  }
}

@media only screen and (max-width: 1600px) {
  .container {
    max-width: 1320px;
  }

  .container-nav {
    width: 100%;
    max-width: 1320px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .showcase-wrapper,
  .learn-more-wrapper,
  .contagion-wrapper,
  .symptoms-wrapper,
  .todo-wrapper,
  .questions-wrapper,
  .contact-wrapper {
    padding: 100px 0;
  }
}

@media only screen and (max-width: 1366px) {
  .container {
    max-width: 1140px;
  }

  .container-nav {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .showcase-wrapper,
  .learn-more-wrapper,
  .contagion-wrapper,
  .symptoms-wrapper,
  .todo-wrapper,
  .questions-wrapper,
  .contact-wrapper {
    padding: 75px 0;
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    max-width: 960px;
  }
  .container-nav {
    width: 100%;
    max-width: 960px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .showcase-wrapper,
  .learn-more-wrapper,
  .contagion-wrapper,
  .symptoms-wrapper,
  .todo-wrapper,
  .questions-wrapper,
  .contact-wrapper {
    padding: 50px 0;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .container-nav {
    width: 100%;
    max-width: 720px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 768px) {
  .alert {
    display: none;
    position: fixed; /* Set the navbar to fixed position */
    top: 100px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    padding: 20px;
    background-color: #4caf50;
    color: white;
    z-index: 1000;
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }
  body {
    overflow-x: hidden;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--primary-color);
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .showcase-wrapper,
  .learn-more-wrapper,
  .contagion-wrapper,
  .symptoms-wrapper,
  .todo-wrapper,
  .questions-wrapper,
  .contact-wrapper {
    padding: 0 0;
  }

  .nav-links,
  footer ul {
    display: none;
  }

  /* Burger Menu */
  .logo {
    margin-left: 5%;
    margin-top: 5%;
  }

  ul {
    display: flex;
  }

  ul li {
    padding: 0;
  }

  ul li a:hover {
    color: var(--primary-color);
  }

  .main-nav ul li {
    padding: 0;
  }

  .nav-links {
    display: block;
    position: absolute;
    top: 90px;
    right: 0;
    width: 100%;
  }
  .nav-links::before {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    height: 100vh;
    right: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transition: all 0.3s;
  }
  .nav-links li {
    border-bottom: 1px solid #ddd;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.3s;
  }
  .nav-links li a {
    background: #fff;
    color: #404040;
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 20px;
    text-align: left;
    width: 100%;
    transition: all 0.3s;
  }

  .nav-links li a:hover {
    color: var(--primary-color);
  }

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  input[type="checkbox"]:checked + label {
    border: 4px solid silver;
    border-radius: 50%;
    height: 28px;
    top: 30px;
    right: 30px;
    width: 28px;
    transform: rotate(-135deg);
  }
  input[type="checkbox"]:checked + label::before {
    background: silver;
    top: 8px;
    right: 4px;
    width: 12px;
  }
  input[type="checkbox"]:checked + label::after {
    background: silver;
    opacity: 1;
    top: 8px;
    right: 4px;
    visibility: visible;
    width: 12px;
  }
  input[type="checkbox"]:checked + label:hover {
    border-color: var(--primary-color);
  }
  input[type="checkbox"]:checked + label:hover::before,
  input[type="checkbox"]:checked + label:hover::after {
    background: var(--primary-color);
  }
  input[type="checkbox"]:checked ~ .nav-links::before {
    opacity: 1;
    visibility: visible;
  }
  input[type="checkbox"]:checked ~ .nav-links li {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  input[type="checkbox"]:checked ~ .nav-links li:nth-child(1) {
    transition-delay: 0s;
  }
  input[type="checkbox"]:checked ~ .nav-links li:nth-child(2) {
    transition-delay: 0.1s;
  }
  input[type="checkbox"]:checked ~ .nav-links li:nth-child(3) {
    transition-delay: 0.2s;
  }
  input[type="checkbox"]:checked ~ .nav-links li:nth-child(4) {
    transition-delay: 0.3s;
  }

  label {
    background: none transparent;
    border: 4px solid var(--primary-color);
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    cursor: pointer;
    display: block;
    height: 24px;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 24px;
    transition: all 0.2s;
  }
  label::before {
    background: var(--primary-color);
    content: "";
    height: 4px;
    right: 0;
    position: absolute;
    top: 6px;
    width: 24px;
    transition: all 0.2s;
  }
  label::after {
    background: var(--primary-color);
    content: "";
    height: 4px;
    right: 0;
    position: absolute;
    top: 6px;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transform: rotate(90deg);
    transition: all 0.2s;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .main-nav .burger {
    display: inline-block;
    cursor: pointer;
    font-size: 35px;
    color: var(--primary-color);
  }

  /* Showcase */

  .showcase .showcase-left {
    margin-bottom: 20px;
  }

  .showcase {
    text-align: center;
    margin-bottom: 50px;
  }

  .showcase-left {
    margin: 0 auto;
  }

  .showcase,
  .learn-more,
  .questions-grid,
  .contact-grid {
    grid-template-columns: 1fr;
  }

  .data-info {
    height: unset;
  }
  .data-info ul {
    line-height: unset;
  }
  .number-stat p {
    display: block;
  }

  section.questions .data-info {
    margin-left: 31%;
    margin-top: 0;
  }

  .total-cases {
    padding: 8px 16px;
    background-color: var(--primary-color);
    border-radius: 15px;
    max-width: 300px;
    color: white;
    margin: auto;
  }
  /* Learn More */

  .learn-more {
    display: flex;
    flex-direction: column-reverse;
  }

  .learn-more .text {
    width: 80%;
    padding: 0;
    text-align: center;
  }

  .learn-more .img-container {
    width: 100%;
  }

  .learn-more img {
    margin-top: 20px;
    width: 80%;
    margin: 20px 30px 0;
  }

  /* Contagion */

  .contagion .top {
    width: 80%;
    margin-bottom: 80px;
  }

  .contagion .bottom {
    grid-template-columns: 1fr;
  }

  .contagion .bottom .card {
    margin: 20px 0;
  }

  /* Symptoms */

  .symptoms .top {
    width: 80%;
  }

  /* Todo */

  .todo .top {
    width: 80%;
  }

  .todo h2 {
    font-size: 35px;
  }

  .todo .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .todo .bottom .sym-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Questions */

  .questions h2 {
    font-size: 28px;
  }

  .questions {
    margin: 0;
  }

  .contact {
    margin: 0;
  }

  .contact h2 {
    font-size: 28px;
  }

  .contact .mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .contact .mobile-contact {
    display: block;
  }

  .contact .web {
    display: none;
  }

  .contact .web-contact {
    display: none;
  }

  .contact input {
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.09);
    margin-right: 10px;
    margin-left: 10px;
  }
  /* Footer */
  footer i {
    font-size: 20px;
  }

  footer .ic-social-mobile {
    width: 24px;
  }

  footer .logo-social-mobile {
    width: 50px;
  }

  footer p {
    font-size: 15px;
  }

  footer .top-footer-mobile {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer .top-footer {
    display: none;
  }

  footer .social-mobile {
    display: block;
    width: 100%;
    -webkit-box-pack: center;
    /* justify-content: center; */
    text-align: center;
  }

  footer .logo-social-mobile {
    float: left;
  }

  footer .icon-social-mobile {
    float: right;
  }

  footer .top-footer-mobile {
    flex-wrap: wrap;
    flex-direction: row;
    -webkit-box-pack: center;
    padding: 0 10px;
    /* justify-content: center; */
  }

  footer .buttom-footer-mobile {
    text-align: center;
    display: block;
  }

  .logo img {
    width: 120px;
  }
}

@media only screen and (max-width: 426px) {
  .data-info {
    height: unset;
  }
  .data-info ul {
    line-height: unset;
  }
  .number-stat p {
    display: block;
  }

  section.questions .data-info {
    margin-left: 17%;
    margin-top: 0;
  }

  .total-cases {
    padding: 8px 16px;
    background-color: var(--primary-color);
    border-radius: 15px;
    max-width: 300px;
    color: white;
    margin: auto;
  }
}
